
  .logo{
    height: 63px;
    background: rgba(0,100,255,.2);
    padding-top: 0.1px;
    background: url(../config/image/DK_logo.PNG) no-repeat center center;
    background-size: 100% 100%;
  }
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  .trigger:hover {
    color: #1890ff;
  }
  .footer-p a{
      margin:0 10px;
      color:gray;
  }
  .footer-p a:nth-of-type(3){
    margin-right:33px;
  }
  .dropDown{
    float:right;
    margin-right: 30px;
  }
  .ajax-loading{
    display: none;
  }
  .ajax-loading .loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:0 40px;
    height: 80px;
    line-height: 80px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    text-align: center;
    z-index: 9999;
    font-size:16px;
    color:#fff;
  }
  .ajax-loading .loading img{
    width: 32px;
    vertical-align: middle;
  }
  .ajax-loading .loading span{
    margin-left:12px;
  }
  .ajax-loading .overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9998;
    background: rgb(255, 255, 255);
    opacity: 0.1;
  } 

